<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hap.hapExam.mapper.InvInventoryItemsMapper">
    <resultMap id="BaseResultMap" type="com.hand.hap.hapExam.dto.InvInventoryItems">
        <result column="INVENTORY_ITEM_ID" property="inventoryItemId" jdbcType="DECIMAL" />
        <result column="ITEM_CODE" property="itemCode" jdbcType="VARCHAR" />
        <result column="ITEM_UOM" property="itemUom" jdbcType="VARCHAR" />
        <result column="ITEM_DESCRIPTION" property="itemDescription" jdbcType="VARCHAR" />
        <result column="ORDER_FLAG" property="orderFlag" jdbcType="VARCHAR" />
        <result column="START_ACTIVE_DATE" property="startActiveDate" jdbcType="DATE" />
        <result column="END_ACTIVE_DATE" property="endActiveDate" jdbcType="DATE" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectLovInvInventoryItems" resultMap="BaseResultMap">
        select
        INVENTORY_ITEM_ID,
        ITEM_CODE,
        ITEM_DESCRIPTION,
        ORDER_FLAG,
        START_ACTIVE_DATE,
        END_ACTIVE_DATE,
        ENABLED_FLAG
        from
             hap_inv_inventory_items
        <where>
            <if test="inventoryItemId!=null">
                AND INVENTORY_ITEM_ID=#{inventoryItemId}
            </if>
            <if test="itemDescription!=null">
                AND ITEM_DESCRIPTION like concat('%', concat (#{itemDescription}, '%'))
            </if>
        </where>
    </select>


    <select id="selectInvInventoryItemById" resultMap="BaseResultMap">
        select
            INVENTORY_ITEM_ID,
            ITEM_CODE,
            ITEM_DESCRIPTION,
            ORDER_FLAG,
            START_ACTIVE_DATE,
            END_ACTIVE_DATE,
            ENABLED_FLAG
        from
            hap_inv_inventory_items
        where INVENTORY_ITEM_ID=#{invInventoryItemId}
    </select>

    <select id="selectLovInvInventoryItemsForOrderLines" resultMap="BaseResultMap">
        select
            INVENTORY_ITEM_ID,
            ITEM_CODE,
            ITEM_UOM,
            ITEM_DESCRIPTION,
            ORDER_FLAG,
            START_ACTIVE_DATE,
            END_ACTIVE_DATE,
            ENABLED_FLAG
        from
            hap_inv_inventory_items
        <where>
         ORDER_FLAG='Y'
            <if test="inventoryItemId!=null">
                AND INVENTORY_ITEM_ID=#{inventoryItemId}
            </if>
            <if test="itemCode!=null">
                AND ITEM_CODE=#{itemCode}
            </if>
            <if test="itemDescription!=null">
                AND ITEM_DESCRIPTION like concat('%', concat (#{itemDescription}, '%'))
            </if>
        </where>
    </select>
</mapper>