<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hap.hapExam.mapper.OmOrderLinesMapper">
    <resultMap id="BaseResultMap" type="com.hand.hap.hapExam.dto.OmOrderLines">
        <result column="LINE_ID" property="lineId" jdbcType="DECIMAL"/>
        <result column="HEADER_ID" property="headerId" jdbcType="DECIMAL"/>
        <result column="LINE_NUMBER" property="lineNumber" jdbcType="DECIMAL"/>
        <result column="INVENTORY_ITEM_ID" property="inventoryItemId" jdbcType="DECIMAL"/>
        <result column="ORDERD_QUANTITY" property="orderdQuantity" jdbcType="DECIMAL"/>
        <result column="ORDER_QUANTITY_UOM" property="orderQuantityUom" jdbcType="VARCHAR"/>
        <result column="UNIT_SELLING_PRICE" property="unitSellingPrice" jdbcType="DECIMAL"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL"/>
        <result column="ADDITION1" property="addition1" jdbcType="VARCHAR"/>
        <result column="ADDITION2" property="addition2" jdbcType="VARCHAR"/>
        <result column="ADDITION3" property="addition3" jdbcType="VARCHAR"/>
        <result column="ADDITION4" property="addition4" jdbcType="VARCHAR"/>
        <result column="ADDITION5" property="addition5" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectWithForgeinKey" resultMap="BaseResultMap">
        SELECT
            hool.LINE_ID as lineId,
            hool.HEADER_ID as headerId,
            hool.LINE_NUMBER as lineNumber,
            hool.INVENTORY_ITEM_ID as inventoryItemId,
            hool.ORDERD_QUANTITY as orderdQuantity,
            hool.ORDER_QUANTITY_UOM as orderQuantityUom,
            hool.UNIT_SELLING_PRICE as unitSellingPrice ,
            hool.DESCRIPTION,
            hool.COMPANY_ID as companyId ,
            hool.ADDITION1,
            hool.ADDITION2,
            hool.ADDITION3,
            hool.ADDITION4,
            hool.ADDITION5,
            hiii.ITEM_CODE as itemCode,
            hiii.ITEM_DESCRIPTION as itemDescription
        FROM
            hap_om_order_lines hool
        INNER JOIN
            hap_inv_inventory_items hiii
        ON hool.INVENTORY_ITEM_ID = hiii.INVENTORY_ITEM_ID
        <where>
            <if test="headerId!=null">
                AND hool.HEADER_ID=#{headerId}
            </if>
        </where>
    </select>
</mapper>